.button_wrapper {
  text-align: right;
  padding-right: 120px;
  .view_button {
    cursor: pointer;
    height: 30px;
    width: 30px;
    margin: 5px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    background-color: #fff;
  }
}
