@import '../../styles/variables';

.container {
    width: 70rem;
    border: 3px solid $tertiary-color;
    border-radius: 1rem;
}
.grid {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px 20px;
}
