$primary-color: #E71D36;
$secondary-color: #FF9F1C;
$tertiary-color: #2EC4B6;
$background-color: #F3F3F7;
$text-color: #011627;

$font-size-s: 1.2rem;
$font-size-m: 1.6rem;
$font-size-l: 2.4rem;
$font-size-xl: 5.8rem;

$primary-font: 'Lato', sans-serif;
$secondary-font: 'Italianno', cursive;
