$primary-color: #E71D36;
$secondary-color: #FF9F1C;
$tertiary-color: #2EC4B6;
$background-color: #FDFFFC;
$text-color: #011627;

$font-size-s: 1rem;
$font-size-m: 1.6rem;
$font-size-l: 2.4rem;
$font-size-xl: 4.8rem;

$primary-font: 'Lato', sans-serif;
$secondary-font: 'Dancing Script', cursive;
